.elementor-2827 .elementor-element.elementor-element-0c9c926:not(.elementor-motion-effects-element-type-background),
.elementor-2827 .elementor-element.elementor-element-0c9c926>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFF7F6;
    background-image: url("./../../2022/09/vector-11.svg");
    background-position: center left;
    background-repeat: no-repeat;
}

.elementor-2827 .elementor-element.elementor-element-0c9c926>.elementor-background-overlay {
    background-image: url("./../../2022/09/vector-10.svg");
    background-position: center right;
    background-repeat: no-repeat;
    opacity: 0.5;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2827 .elementor-element.elementor-element-0c9c926 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 80px 0px 50px 0px;
}

.elementor-2827 .elementor-element.elementor-element-baab9f8>.elementor-element-populated {
    padding: 10px 12px 10px 12px;
}

.elementor-2827 .elementor-element.elementor-element-2a95753>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-2827 .elementor-element.elementor-element-2a95753:not(.elementor-motion-effects-element-type-background),
.elementor-2827 .elementor-element.elementor-element-2a95753>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("./../../2022/09/img-19-min.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-2827 .elementor-element.elementor-element-2a95753>.elementor-background-overlay {
    background-color: transparent;
    background-image: linear-gradient(180deg, #0000001F 75%, #000000 100%);
    opacity: 0.7;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2827 .elementor-element.elementor-element-2a95753,
.elementor-2827 .elementor-element.elementor-element-2a95753>.elementor-background-overlay {
    border-radius: 30px 30px 30px 30px;
}

.elementor-2827 .elementor-element.elementor-element-2a95753 {
    box-shadow: 0px 30px 45px 0px rgba(0, 0, 0, 0.15);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 140px 0px 140px 0px;
}

.elementor-bc-flex-widget .elementor-2827 .elementor-element.elementor-element-db3d62b.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-2827 .elementor-element.elementor-element-db3d62b.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-2827 .elementor-element.elementor-element-db3d62b.elementor-column>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-2827 .elementor-element.elementor-element-db3d62b>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-2827 .elementor-element.elementor-element-db3d62b>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2827 .elementor-element.elementor-element-e92f35e {
    text-align: center;
    width: auto;
    max-width: auto;
    align-self: center;
}

.elementor-2827 .elementor-element.elementor-element-e92f35e .elementor-heading-title {
    color: #FFFFFF;
    font-size: 40px;
}

.elementor-2827 .elementor-element.elementor-element-e92f35e>.elementor-widget-container {
    padding: 15px 30px 15px 30px;
    background-color: #02020299;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #FFFFFF;
    border-radius: 50px 50px 50px 50px;
}

.elementor-2827 .elementor-element.elementor-element-8271aeb>.elementor-widget-container {
    padding: 60px 80px 0px 80px;
}

.elementor-2827 .elementor-element.elementor-element-74fdb45 {
    padding: 80px 0px 0px 0px;
}

.elementor-2827 .elementor-element.elementor-element-a52c50d {
    --e-image-carousel-slides-to-show: 5;
}

.elementor-2827 .elementor-element.elementor-element-afc9713 {
    overflow: hidden;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 100px 0px 85px 0px;
}

.elementor-2827 .elementor-element.elementor-element-afc9713>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2827 .elementor-element.elementor-element-45c9135>.elementor-element-populated {
    padding: 10px 12px 10px 12px;
}

.elementor-2827 .elementor-element.elementor-element-c3b5a05 .section-heading {
    text-align: center;
}

.elementor-2827 .elementor-element.elementor-element-c3b5a05>.elementor-widget-container {
    padding: 0px 0px 10px 0px;
}

.elementor-2827 .elementor-element.elementor-element-2328e71:not(.elementor-motion-effects-element-type-background),
.elementor-2827 .elementor-element.elementor-element-2328e71>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFF7F7;
}

.elementor-2827 .elementor-element.elementor-element-2328e71 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 110px 0px 90px 0px;
}

.elementor-2827 .elementor-element.elementor-element-2328e71>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2827 .elementor-element.elementor-element-0868a48>.elementor-element-populated {
    padding: 10px 12px 10px 12px;
}

.elementor-2827 .elementor-element.elementor-element-50b4ed4>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-2827 .elementor-element.elementor-element-c8c9f2e>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: flex-end;
    align-items: flex-end;
}

.elementor-2827 .elementor-element.elementor-element-c8c9f2e {
    z-index: 1;
}

.elementor-bc-flex-widget .elementor-2827 .elementor-element.elementor-element-910a8a1.elementor-column .elementor-widget-wrap {
    align-items: flex-end;
}

.elementor-2827 .elementor-element.elementor-element-910a8a1.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: flex-end;
    align-items: flex-end;
}

.elementor-2827 .elementor-element.elementor-element-910a8a1.elementor-column>.elementor-widget-wrap {
    justify-content: flex-end;
}

.elementor-2827 .elementor-element.elementor-element-910a8a1>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-2827 .elementor-element.elementor-element-913bd94 img {
    border-radius: 10px 10px 10px 10px;
}

.elementor-2827 .elementor-element.elementor-element-0c8b26a>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-2827 .elementor-element.elementor-element-8c9c99b {
    text-align: left;
}

.elementor-2827 .elementor-element.elementor-element-8c9c99b>.elementor-widget-container {
    padding: 0px 0px 10px 30px;
}

.elementor-2827 .elementor-element.elementor-element-fb09be4 {
    text-align: center;
}

.elementor-2827 .elementor-element.elementor-element-fb09be4 img {
    border-radius: 10px 10px 10px 10px;
}

.elementor-2827 .elementor-element.elementor-element-fb09be4>.elementor-widget-container {
    padding: 0px 0px 0px 20px;
}


.elementor-2827 .elementor-element.elementor-element-024a467 {
    top: 275px;
    z-index: 0;
}

.elementor-2827 .elementor-element.elementor-element-308e6f3>.elementor-element-populated {
    padding: 20px 0px 0px 0px;
}

.elementor-2827 .elementor-element.elementor-element-88744ae {
    text-align: center;
}

.elementor-2827 .elementor-element.elementor-element-88744ae img {
    border-radius: 10px 10px 10px 10px;
}

body:not(.rtl) .elementor-2827 .elementor-element.elementor-element-06d84ec {
    right: -216px;
}

body.rtl .elementor-2827 .elementor-element.elementor-element-06d84ec {
    left: -216px;
}

.elementor-2827 .elementor-element.elementor-element-06d84ec {
    top: -104px;
    z-index: -1;
}

.elementor-2827 .elementor-element.elementor-element-d32e540>.elementor-element-populated {
    padding: 0px 0px 0px 40px;
}

.elementor-2827 .elementor-element.elementor-element-ce0d97c .section-heading {
    text-align: left;
}

.elementor-2827 .elementor-element.elementor-element-34f0bb7 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(8px/2);
}

.elementor-2827 .elementor-element.elementor-element-34f0bb7 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(8px/2);
}

.elementor-2827 .elementor-element.elementor-element-34f0bb7 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(8px/2);
    margin-left: calc(8px/2);
}

.elementor-2827 .elementor-element.elementor-element-34f0bb7 .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-8px/2);
    margin-left: calc(-8px/2);
}

body.rtl .elementor-2827 .elementor-element.elementor-element-34f0bb7 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-8px/2);
}

body:not(.rtl) .elementor-2827 .elementor-element.elementor-element-34f0bb7 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-8px/2);
}

.elementor-2827 .elementor-element.elementor-element-34f0bb7 .elementor-icon-list-icon i {
    transition: color 0.3s;
}

.elementor-2827 .elementor-element.elementor-element-34f0bb7 .elementor-icon-list-icon svg {
    transition: fill 0.3s;
}

.elementor-2827 .elementor-element.elementor-element-34f0bb7 {
    --e-icon-list-icon-size: 6px;
    --icon-vertical-offset: 0px;
}

.elementor-2827 .elementor-element.elementor-element-34f0bb7 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-2827 .elementor-element.elementor-element-34f0bb7 .elementor-icon-list-item>a {
    font-size: 18px;
}

.elementor-2827 .elementor-element.elementor-element-34f0bb7 .elementor-icon-list-text {
    color: #494949;
    transition: color 0.3s;
}

.elementor-2827 .elementor-element.elementor-element-34f0bb7>.elementor-widget-container {
    margin: -10px 0px 0px 0px;
}

body:not(.rtl) .elementor-2827 .elementor-element.elementor-element-8172146 {
    left: 150px;
}

body.rtl .elementor-2827 .elementor-element.elementor-element-8172146 {
    right: 150px;
}

.elementor-2827 .elementor-element.elementor-element-8172146 {
    top: 185px;
}

.elementor-2827 .elementor-element.elementor-element-93ca19f>.elementor-widget-container {
    margin: -10px 0px 0px 0px;
}

.elementor-2827 .elementor-element.elementor-element-1b14afe:not(.elementor-motion-effects-element-type-background),
.elementor-2827 .elementor-element.elementor-element-1b14afe>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #222222;
}

.elementor-2827 .elementor-element.elementor-element-1b14afe>.elementor-background-overlay {
    background-image: url("./../../2022/09/group4-min.png");
    background-position: center left;
    background-repeat: no-repeat;
    opacity: 1;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2827 .elementor-element.elementor-element-1b14afe {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 80px 0px 75px 0px;
}

.elementor-2827 .elementor-element.elementor-element-943ed84>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-bc-flex-widget .elementor-2827 .elementor-element.elementor-element-8632e01.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-2827 .elementor-element.elementor-element-8632e01.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-2827 .elementor-element.elementor-element-09ee772 {
    columns: 1;
    column-gap: 0px;
    color: #FFFFFF;
    font-size: 22px;
}

.elementor-2827 .elementor-element.elementor-element-8611719 .elementor-counter .elementor-counter-number-wrapper {
    min-width: 105px;
    justify-content: flex-start;
    text-align: left;
}

.elementor-2827 .elementor-element.elementor-element-8611719 .elementor-counter .elementor-counter-number-prefix,
.elementor-2827 .elementor-element.elementor-element-8611719 .elementor-counter .elementor-counter-number-suffix {
    flex-grow: inherit;
}

.elementor-2827 .elementor-element.elementor-element-8611719 .elementor-counter .elementor-counter-title {
    justify-content: flex-start;
    text-align: left;
}

.elementor-2827 .elementor-element.elementor-element-8611719 .elementor-counter-inline-style .elementor-counter {
    justify-content: flex-start;
    text-align: left;
}

.elementor-2827 .elementor-element.elementor-element-8611719 .elementor-counter-number-wrapper {
    color: #FFFFFF;
}

.elementor-2827 .elementor-element.elementor-element-8611719 .elementor-counter-title {
    color: #E6E6E6;
}

.elementor-2827 .elementor-element.elementor-element-d89f190 .elementor-counter .elementor-counter-number-wrapper {
    min-width: 130px;
    justify-content: flex-start;
    text-align: left;
}

.elementor-2827 .elementor-element.elementor-element-d89f190 .elementor-counter .elementor-counter-number-prefix,
.elementor-2827 .elementor-element.elementor-element-d89f190 .elementor-counter .elementor-counter-number-suffix {
    flex-grow: inherit;
}

.elementor-2827 .elementor-element.elementor-element-d89f190 .elementor-counter .elementor-counter-title {
    justify-content: flex-start;
    text-align: left;
}

.elementor-2827 .elementor-element.elementor-element-d89f190 .elementor-counter-inline-style .elementor-counter {
    justify-content: flex-start;
    text-align: left;
}

.elementor-2827 .elementor-element.elementor-element-d89f190 .elementor-counter-number-wrapper {
    color: #FFFFFF;
}

.elementor-2827 .elementor-element.elementor-element-d89f190 .elementor-counter-title {
    color: #E6E6E6;
}

.elementor-2827 .elementor-element.elementor-element-0962103 .elementor-counter .elementor-counter-number-wrapper {
    min-width: 135px;
    justify-content: flex-start;
    text-align: left;
}

.elementor-2827 .elementor-element.elementor-element-0962103 .elementor-counter .elementor-counter-number-prefix,
.elementor-2827 .elementor-element.elementor-element-0962103 .elementor-counter .elementor-counter-number-suffix {
    flex-grow: inherit;
}

.elementor-2827 .elementor-element.elementor-element-0962103 .elementor-counter .elementor-counter-title {
    justify-content: flex-start;
    text-align: left;
}

.elementor-2827 .elementor-element.elementor-element-0962103 .elementor-counter-inline-style .elementor-counter {
    justify-content: flex-start;
    text-align: left;
}

.elementor-2827 .elementor-element.elementor-element-0962103 .elementor-counter-number-wrapper {
    color: #FFFFFF;
}

.elementor-2827 .elementor-element.elementor-element-0962103 .elementor-counter-title {
    color: #E6E6E6;
}

.elementor-2827 .elementor-element.elementor-element-30d5562 {
    padding: 100px 0px 90px 0px;
}

.elementor-2827 .elementor-element.elementor-element-533f0eb>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-2827 .elementor-element.elementor-element-a22b27d .section-heading {
    text-align: center;
}

.elementor-2827 .elementor-element.elementor-element-f49c587>.elementor-element-populated {
    padding: 10px 12px 10px 12px;
}

.elementor-2827 .elementor-element.elementor-element-feef774 .feature-box-layout1 .item-img {
    background-image: url("./../../2022/09/img-14-min.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 290px;
}

.elementor-2827 .elementor-element.elementor-element-feef774>.elementor-widget-container {
    padding: 15px 15px 15px 15px;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #E7E7E7;
    border-radius: 6px 6px 6px 6px;
}

.elementor-2827 .elementor-element.elementor-element-907d0c5>.elementor-element-populated {
    padding: 10px 12px 10px 12px;
}

.elementor-2827 .elementor-element.elementor-element-636f3c0 .feature-box-layout1 .item-img {
    background-image: url("./../../2022/09/img-11-min.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 290px;
}

.elementor-2827 .elementor-element.elementor-element-636f3c0>.elementor-widget-container {
    padding: 15px 15px 15px 15px;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #E7E7E7;
    border-radius: 8px 8px 8px 8px;
}

.elementor-2827 .elementor-element.elementor-element-1fa85a6>.elementor-element-populated {
    padding: 10px 12px 10px 12px;
}

.elementor-2827 .elementor-element.elementor-element-93016e1 .feature-box-layout1 .item-img {
    background-image: url("./../../2022/09/img-13-min.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 290px;
}

.elementor-2827 .elementor-element.elementor-element-93016e1>.elementor-widget-container {
    padding: 15px 15px 15px 15px;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #E7E7E7;
    border-radius: 8px 8px 8px 8px;
}

.elementor-2827 .elementor-element.elementor-element-4695ff3>.elementor-element-populated {
    padding: 10px 12px 10px 12px;
}

.elementor-2827 .elementor-element.elementor-element-3a32ea1 .feature-box-layout1 .item-img {
    background-image: url("./../../2022/09/img-15-min.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 290px;
}

.elementor-2827 .elementor-element.elementor-element-3a32ea1>.elementor-widget-container {
    padding: 15px 15px 15px 15px;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #E7E7E7;
    border-radius: 8px 8px 8px 8px;
}

.elementor-2827 .elementor-element.elementor-element-263faf5>.elementor-element-populated {
    padding: 10px 12px 10px 12px;
}

.elementor-2827 .elementor-element.elementor-element-af022c3 .feature-box-layout1 .item-img {
    background-image: url("./../../2022/09/img-12-min.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 290px;
}

.elementor-2827 .elementor-element.elementor-element-af022c3>.elementor-widget-container {
    padding: 15px 15px 15px 15px;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #E7E7E7;
    border-radius: 8px 8px 8px 8px;
}

.elementor-2827 .elementor-element.elementor-element-6c9cbd8,
.elementor-2827 .elementor-element.elementor-element-6c9cbd8>.elementor-background-overlay {
    border-radius: 0px 60px 0px 0px;
}

.elementor-2827 .elementor-element.elementor-element-6c9cbd8 {
    margin-top: 0px;
    margin-bottom: 0px;
    z-index: 1;
}

.elementor-2827 .elementor-element.elementor-element-23c4ec6>.elementor-element-populated {
    padding: 10px 12px 10px 12px;
}

.elementor-2827 .elementor-element.elementor-element-df7726b:not(.elementor-motion-effects-element-type-background),
.elementor-2827 .elementor-element.elementor-element-df7726b>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FF3C48;
}

.elementor-2827 .elementor-element.elementor-element-df7726b,
.elementor-2827 .elementor-element.elementor-element-df7726b>.elementor-background-overlay {
    border-radius: 20px 20px 20px 20px;
}

.elementor-2827 .elementor-element.elementor-element-df7726b {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-2827 .elementor-element.elementor-element-df7726b>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2827 .elementor-element.elementor-element-db719d2:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-2827 .elementor-element.elementor-element-db719d2>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("./../../2022/09/vector-15.svg");
    background-position: top center;
    background-repeat: no-repeat;
}

.elementor-2827 .elementor-element.elementor-element-db719d2>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 0px 0px 0px 0px;
}

.elementor-2827 .elementor-element.elementor-element-db719d2>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-2827 .elementor-element.elementor-element-8430903.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-2827 .elementor-element.elementor-element-8430903.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-2827 .elementor-element.elementor-element-d3f8fd2 .section-heading {
    text-align: left;
}

.elementor-2827 .elementor-element.elementor-element-d3f8fd2 .section-heading .heading-title {
    color: #FFFFFF;
    font-size: 30px;
}

.elementor-2827 .elementor-element.elementor-element-d3f8fd2 .section-heading p {
    color: #FFFFFF;
}

.elementor-2827 .elementor-element.elementor-element-d3f8fd2 {
    z-index: 9;
}

.elementor-bc-flex-widget .elementor-2827 .elementor-element.elementor-element-8843e64.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-2827 .elementor-element.elementor-element-8843e64.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-2827 .elementor-element.elementor-element-db4c7e4 .btn-wrap {
    text-align: center;
}

.elementor-2827 .elementor-element.elementor-element-db4c7e4 .item-btn {
    color: #000000;
    font-weight: 600;
    text-transform: uppercase;
    border-style: solid;
    border-width: 0px 0px 0px 0px;
}

.elementor-2827 .elementor-element.elementor-element-db4c7e4 .item-btn path {
    fill: #000000;
}

.elementor-2827 .elementor-element.elementor-element-db4c7e4 .event-figure__play path {
    fill: #000000;
}

.elementor-2827 .elementor-element.elementor-element-db4c7e4 .btn-wrap.btn-v2 .item-btn,
.elementor-2827 .elementor-element.elementor-element-db4c7e4 .btn-wrap.btn-v3 .event-figure__play {
    background-color: #FFFFFF;
    box-shadow: 0px 15px 40px 0px rgba(0, 0, 0, 0.3);
}

.elementor-2827 .elementor-element.elementor-element-db4c7e4 {
    z-index: 9;
}

.elementor-2827 .elementor-element.elementor-element-bbf7900:not(.elementor-motion-effects-element-type-background),
.elementor-2827 .elementor-element.elementor-element-bbf7900>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("./../../2022/09/img-18-min.png");
}

.elementor-2827 .elementor-element.elementor-element-bbf7900 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: -100px;
    margin-bottom: 0px;
    padding: 190px 0px 75px 0px;
}

.elementor-2827 .elementor-element.elementor-element-bbf7900>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2827 .elementor-element.elementor-element-6b59ca1 .section-heading {
    text-align: center;
}

.elementor-2827 .elementor-element.elementor-element-6b59ca1>.elementor-widget-container {
    padding: 0px 0px 15px 0px;
}

.elementor-2827 .elementor-element.elementor-element-d484e0d:not(.elementor-motion-effects-element-type-background),
.elementor-2827 .elementor-element.elementor-element-d484e0d>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFF3F4;
}

.elementor-2827 .elementor-element.elementor-element-d484e0d {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 100px 0px 90px 0px;
    z-index: 1;
}

.elementor-2827 .elementor-element.elementor-element-d484e0d>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2827 .elementor-element.elementor-element-a064d5c>.elementor-element-populated {
    padding: 10px 30px 10px 30px;
}

.elementor-2827 .elementor-element.elementor-element-c1c11cf .testimonial-layout {
    text-align: center;
}

.elementor-2827 .elementor-element.elementor-element-c1c11cf {
    z-index: 999;
}

.elementor-2827 .elementor-element.elementor-element-856e2e6 {
    text-align: left;
    bottom: -90px;
}

body:not(.rtl) .elementor-2827 .elementor-element.elementor-element-856e2e6 {
    left: -120px;
}

body.rtl .elementor-2827 .elementor-element.elementor-element-856e2e6 {
    right: -120px;
}

.elementor-2827 .elementor-element.elementor-element-1fcd5e0 {
    text-align: right;
    bottom: -88px;
}

body:not(.rtl) .elementor-2827 .elementor-element.elementor-element-1fcd5e0 {
    right: -71px;
}

body.rtl .elementor-2827 .elementor-element.elementor-element-1fcd5e0 {
    left: -71px;
}

.elementor-2827 .elementor-element.elementor-element-0c96a67 {
    text-align: right;
    top: -98px;
}

body:not(.rtl) .elementor-2827 .elementor-element.elementor-element-0c96a67 {
    right: -190px;
}

body.rtl .elementor-2827 .elementor-element.elementor-element-0c96a67 {
    left: -190px;
}

.elementor-2827 .elementor-element.elementor-element-212e834 {
    text-align: left;
    top: -98px;
}

body:not(.rtl) .elementor-2827 .elementor-element.elementor-element-212e834 {
    left: -210px;
}

body.rtl .elementor-2827 .elementor-element.elementor-element-212e834 {
    right: -210px;
}

.elementor-2827 .elementor-element.elementor-element-ad6a8aa {
    padding: 90px 0px 80px 0px;
}

.elementor-2827 .elementor-element.elementor-element-d230498>.elementor-element-populated {
    padding: 10px 12px 10px 12px;
}

.elementor-2827 .elementor-element.elementor-element-c4f64ad .section-heading {
    text-align: center;
}

.elementor-2827 .elementor-element.elementor-element-c4f64ad>.elementor-widget-container {
    padding: 0px 0px 10px 0px;
}

.elementor-2827 .elementor-element.elementor-element-8838877 {
    overflow: hidden;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 70px 0px 55px 0px;
}

.elementor-2827 .elementor-element.elementor-element-8838877:not(.elementor-motion-effects-element-type-background),
.elementor-2827 .elementor-element.elementor-element-8838877>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #F8F8F8;
}

.elementor-2827 .elementor-element.elementor-element-8838877>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2827 .elementor-element.elementor-element-a8a6d67 {
    z-index: 2;
}

.elementor-2827 .elementor-element.elementor-element-9a9a185 {
    text-align: center;
    z-index: 9;
}

.elementor-2827 .elementor-element.elementor-element-9a9a185 .elementor-heading-title {
    line-height: 1.2em;
}

.elementor-2827 .elementor-element.elementor-element-9a9a185>.elementor-widget-container {
    padding: 0px 150px 0px 150px;
}

.elementor-2827 .elementor-element.elementor-element-54c53e1>.elementor-widget-container {
    padding: 10px 0px 0px 0px;
}

.elementor-2827 .elementor-element.elementor-element-54c53e1 {
    z-index: 9;
}

.elementor-bc-flex-widget .elementor-2827 .elementor-element.elementor-element-b98930f.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-2827 .elementor-element.elementor-element-b98930f.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-2827 .elementor-element.elementor-element-5a5bb3d {
    z-index: 2;
}

.elementor-2827 .elementor-element.elementor-element-26230f2 {
    text-align: right;
    top: -247px;
    z-index: 1;
}

body:not(.rtl) .elementor-2827 .elementor-element.elementor-element-26230f2 {
    right: -114px;
}

body.rtl .elementor-2827 .elementor-element.elementor-element-26230f2 {
    left: -114px;
}

.elementor-2827 .elementor-element.elementor-element-8dbf9d3 {
    text-align: left;
    z-index: 1;
}

body:not(.rtl) .elementor-2827 .elementor-element.elementor-element-8dbf9d3 {
    left: -325px;
}

body.rtl .elementor-2827 .elementor-element.elementor-element-8dbf9d3 {
    right: -325px;
}

@media(min-width:768px) {
    .elementor-2827 .elementor-element.elementor-element-910a8a1 {
        width: 55%;
    }
    .elementor-2827 .elementor-element.elementor-element-0c8b26a {
        width: 45%;
    }
    .elementor-2827 .elementor-element.elementor-element-db719d2 {
        width: 20%;
    }
    .elementor-2827 .elementor-element.elementor-element-8430903 {
        width: 50.333%;
    }
    .elementor-2827 .elementor-element.elementor-element-8843e64 {
        width: 29%;
    }
    .elementor-2827 .elementor-element.elementor-element-50da5db {
        width: 20%;
    }
    .elementor-2827 .elementor-element.elementor-element-a064d5c {
        width: 59.333%;
    }
    .elementor-2827 .elementor-element.elementor-element-5e91d81 {
        width: 20%;
    }
    .elementor-2827 .elementor-element.elementor-element-3a354f1 {
        width: 20%;
    }
    .elementor-2827 .elementor-element.elementor-element-a8a6d67 {
        width: 59.333%;
    }
    .elementor-2827 .elementor-element.elementor-element-b98930f {
        width: 20%;
    }
}

@media(max-width:1024px) {
    .elementor-2827 .elementor-element.elementor-element-0c9c926 {
        padding: 80px 0px 0px 0px;
    }
    .elementor-2827 .elementor-element.elementor-element-2a95753 {
        padding: 100px 0px 100px 0px;
    }
    .elementor-2827 .elementor-element.elementor-element-8271aeb>.elementor-widget-container {
        padding: 40px 0px 0px 0px;
    }
    .elementor-2827 .elementor-element.elementor-element-74fdb45 {
        padding: 40px 0px 0px 0px;
    }
    .elementor-2827 .elementor-element.elementor-element-a52c50d {
        --e-image-carousel-slides-to-show: 4;
    }
    .elementor-2827 .elementor-element.elementor-element-a52c50d>.elementor-widget-container {
        padding: 0px 0px 40px 0px;
    }
    .elementor-2827 .elementor-element.elementor-element-afc9713 {
        padding: 50px 0px 50px 0px;
    }
    .elementor-2827 .elementor-element.elementor-element-2328e71 {
        padding: 80px 0px 70px 0px;
    }
    .elementor-2827 .elementor-element.elementor-element-fb09be4 {
        text-align: left;
    }
    .elementor-2827 .elementor-element.elementor-element-d32e540>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }
    body:not(.rtl) .elementor-2827 .elementor-element.elementor-element-8172146 {
        left: 221px;
    }
    body.rtl .elementor-2827 .elementor-element.elementor-element-8172146 {
        right: 221px;
    }
    .elementor-2827 .elementor-element.elementor-element-8172146 {
        top: 164px;
    }
    .elementor-2827 .elementor-element.elementor-element-1b14afe {
        padding: 50px 0px 50px 0px;
    }
    .elementor-2827 .elementor-element.elementor-element-30d5562 {
        padding: 60px 0px 50px 0px;
    }
    .elementor-2827 .elementor-element.elementor-element-a22b27d>.elementor-widget-container {
        padding: 0px 12px 0px 12px;
    }
    .elementor-2827 .elementor-element.elementor-element-263faf5>.elementor-element-populated {
        margin: 0% 25% 0% 25%;
        --e-column-margin-right: 25%;
        --e-column-margin-left: 25%;
    }
    .elementor-2827 .elementor-element.elementor-element-df7726b {
        padding: 0px 0px 40px 0px;
    }
    .elementor-2827 .elementor-element.elementor-element-d3f8fd2 .section-heading {
        text-align: center;
    }
    .elementor-2827 .elementor-element.elementor-element-db4c7e4 .btn-wrap {
        text-align: center;
    }
    .elementor-2827 .elementor-element.elementor-element-bbf7900 {
        padding: 150px 0px 0px 0px;
    }
    .elementor-2827 .elementor-element.elementor-element-d484e0d {
        padding: 60px 0px 50px 0px;
    }
    body:not(.rtl) .elementor-2827 .elementor-element.elementor-element-856e2e6 {
        left: -120px;
    }
    body.rtl .elementor-2827 .elementor-element.elementor-element-856e2e6 {
        right: -120px;
    }
    .elementor-2827 .elementor-element.elementor-element-856e2e6 {
        bottom: -50px;
    }
    body:not(.rtl) .elementor-2827 .elementor-element.elementor-element-1fcd5e0 {
        right: -61px;
    }
    body.rtl .elementor-2827 .elementor-element.elementor-element-1fcd5e0 {
        left: -61px;
    }
    .elementor-2827 .elementor-element.elementor-element-1fcd5e0 {
        bottom: -50px;
    }
    body:not(.rtl) .elementor-2827 .elementor-element.elementor-element-0c96a67 {
        right: -150px;
    }
    body.rtl .elementor-2827 .elementor-element.elementor-element-0c96a67 {
        left: -150px;
    }
    .elementor-2827 .elementor-element.elementor-element-0c96a67 {
        top: -56px;
    }
    body:not(.rtl) .elementor-2827 .elementor-element.elementor-element-212e834 {
        left: -78px;
    }
    body.rtl .elementor-2827 .elementor-element.elementor-element-212e834 {
        right: -78px;
    }
    .elementor-2827 .elementor-element.elementor-element-212e834 {
        top: -60px;
    }
    .elementor-2827 .elementor-element.elementor-element-ad6a8aa {
        padding: 50px 0px 40px 0px;
    }
    .elementor-2827 .elementor-element.elementor-element-8838877 {
        padding: 40px 0px 25px 0px;
    }
    .elementor-2827 .elementor-element.elementor-element-9a9a185>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }
}

@media(max-width:767px) {
    .elementor-2827 .elementor-element.elementor-element-a52c50d {
        --e-image-carousel-slides-to-show: 2;
    }
    .elementor-2827 .elementor-element.elementor-element-913bd94 {
        text-align: center;
    }
    .elementor-2827 .elementor-element.elementor-element-0c8b26a>.elementor-element-populated {
        padding: 15px 0px 0px 0px;
    }
    .elementor-2827 .elementor-element.elementor-element-8c9c99b {
        text-align: center;
    }
    .elementor-2827 .elementor-element.elementor-element-fb09be4 {
        text-align: center;
    }
    .elementor-2827 .elementor-element.elementor-element-fb09be4>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }
    .elementor-2827 .elementor-element.elementor-element-d32e540>.elementor-element-populated {
        padding: 12px 0px 0px 0px;
    }
    body:not(.rtl) .elementor-2827 .elementor-element.elementor-element-8172146 {
        left: 191px;
    }
    body.rtl .elementor-2827 .elementor-element.elementor-element-8172146 {
        right: 191px;
    }
    .elementor-2827 .elementor-element.elementor-element-8172146 {
        top: 235px;
        z-index: -9;
    }
    .elementor-2827 .elementor-element.elementor-element-09ee772 {
        text-align: center;
    }
    .elementor-2827 .elementor-element.elementor-element-8611719 .elementor-counter .elementor-counter-number-prefix,
    .elementor-2827 .elementor-element.elementor-element-8611719 .elementor-counter .elementor-counter-number-suffix {
        flex-grow: inherit;
    }
    .elementor-2827 .elementor-element.elementor-element-8611719 .elementor-counter .elementor-counter-number-wrapper {
        justify-content: flex-start;
        text-align: left;
    }
    .elementor-2827 .elementor-element.elementor-element-8611719 .elementor-counter .elementor-counter-title {
        justify-content: flex-start;
        text-align: left;
    }
    .elementor-2827 .elementor-element.elementor-element-8611719 .elementor-counter-inline-style .elementor-counter {
        justify-content: flex-start;
        text-align: left;
    }
    .elementor-2827 .elementor-element.elementor-element-263faf5>.elementor-element-populated {
        margin: 0% 0% 0% 0%;
        --e-column-margin-right: 0%;
        --e-column-margin-left: 0%;
    }
    .elementor-2827 .elementor-element.elementor-element-a064d5c>.elementor-element-populated {
        padding: 60px 0px 40px 0px;
    }
    .elementor-2827 .elementor-element.elementor-element-c1c11cf {
        z-index: 999;
    }
    .elementor-2827 .elementor-element.elementor-element-8838877 {
        padding: 40px 0px 0px 0px;
    }
    .elementor-2827 .elementor-element.elementor-element-5a5bb3d {
        z-index: 0;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-2827 .elementor-element.elementor-element-50b4ed4 {
        width: 100%;
    }
    .elementor-2827 .elementor-element.elementor-element-d32e540 {
        width: 100%;
    }
    .elementor-2827 .elementor-element.elementor-element-8632e01 {
        width: 100%;
    }
    .elementor-2827 .elementor-element.elementor-element-428fcd9 {
        width: 33.33%;
    }
    .elementor-2827 .elementor-element.elementor-element-dc5ad83 {
        width: 33.33%;
    }
    .elementor-2827 .elementor-element.elementor-element-c99ca39 {
        width: 33.33%;
    }
    .elementor-2827 .elementor-element.elementor-element-1fa85a6 {
        width: 50%;
    }
    .elementor-2827 .elementor-element.elementor-element-4695ff3 {
        width: 50%;
    }
    .elementor-2827 .elementor-element.elementor-element-263faf5 {
        width: 100%;
    }
    .elementor-2827 .elementor-element.elementor-element-db719d2 {
        width: 100%;
    }
    .elementor-2827 .elementor-element.elementor-element-8430903 {
        width: 100%;
    }
    .elementor-2827 .elementor-element.elementor-element-8843e64 {
        width: 100%;
    }
}