@font-face {
  font-family: 'listygo-fonts';
  src: url('./../webfonts/listygo-fonts.eot?80539045');
  src: url('./../webfonts/listygo-fonts.eot?80539045#iefix') format('embedded-opentype'),
       url('./../webfonts/listygo-fonts.woff2?80539045') format('woff2'),
       url('./../webfonts/listygo-fonts.woff?80539045') format('woff'),
       url('./../webfonts/listygo-fonts.ttf?80539045') format('truetype'),
       url('./../webfonts/listygo-fonts.svg?80539045#listygo-fonts') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */

[class^="listygo-rt-icon-"]:before, [class*=" listygo-rt-icon-"]:before {
  font-family: "listygo-fonts" !important;
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: auto !important;
  margin-right: 0 !important;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: inherit;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: 0 !important;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.listygo-rt-icon-check-icon:before { content: '\e800'; } /* '' */
.listygo-rt-icon-email-icon:before { content: '\e801'; } /* '' */
.listygo-rt-icon-cog:before { content: '\e802'; } /* '' */
.listygo-rt-icon-button-arrow-icon-left:before { content: '\e803'; } /* '' */
.listygo-rt-icon-button-arrow-icon-right:before { content: '\e804'; } /* '' */
.listygo-rt-icon-home-icon:before { content: '\e805'; } /* '' */
.listygo-rt-icon-icon-cafe:before { content: '\e806'; } /* '' */
.listygo-rt-icon-icon-restaurant:before { content: '\e807'; } /* '' */
.listygo-rt-icon-r-cat7:before { content: '\e808'; } /* '' */
.listygo-rt-icon-login-icon:before { content: '\e809'; } /* '' */
.listygo-rt-icon-cafe-small-icon:before { content: '\e80a'; } /* '' */
.listygo-rt-icon-phone-icon:before { content: '\e80b'; } /* '' */
.listygo-rt-icon-museum-small-icon:before { content: '\e80c'; } /* '' */
.listygo-rt-icon-icon-home:before { content: '\e80d'; } /* '' */
.listygo-rt-icon-icon:before { content: '\e80e'; } /* '' */
.listygo-rt-icon-star-icon:before { content: '\e80f'; } /* '' */
.listygo-rt-icon-restaurant-small-icon:before { content: '\e810'; } /* '' */
.listygo-rt-icon-d-book:before { content: '\e811'; } /* '' */
.listygo-rt-icon-share-icon:before { content: '\e812'; } /* '' */
.listygo-rt-icon-check:before { content: '\e813'; } /* '' */
.listygo-rt-icon-d-brain:before { content: '\e814'; } /* '' */
.listygo-rt-icon-element4:before { content: '\e815'; } /* '' */
.listygo-rt-icon-element5:before { content: '\e816'; } /* '' */
.listygo-rt-icon-element6:before { content: '\e817'; } /* '' */
.listygo-rt-icon-vector-22:before { content: '\e818'; } /* '' */
.listygo-rt-icon-element8:before { content: '\e819'; } /* '' */
.listygo-rt-icon-search-normal:before { content: '\e81a'; } /* '' */
.listygo-rt-icon-gym:before { content: '\e81b'; } /* '' */
.listygo-rt-icon-shop:before { content: '\e81c'; } /* '' */
.listygo-rt-icon-d-calendar:before { content: '\e81d'; } /* '' */
.listygo-rt-icon-01-map-1:before { content: '\e81e'; } /* '' */
.listygo-rt-icon-02-star-2:before { content: '\e81f'; } /* '' */
.listygo-rt-icon-03-calendar-check:before { content: '\e820'; } /* '' */
.listygo-rt-icon-vector-24:before { content: '\e821'; } /* '' */
.listygo-rt-icon-d-eye:before { content: '\e822'; } /* '' */
.listygo-rt-icon-vector-25:before { content: '\e823'; } /* '' */
.listygo-rt-icon-vector-3:before { content: '\e824'; } /* '' */
.listygo-rt-icon-vector-4:before { content: '\e825'; } /* '' */
.listygo-rt-icon-vector-5:before { content: '\e826'; } /* '' */
.listygo-rt-icon-vector-17:before { content: '\e827'; } /* '' */
.listygo-rt-icon-vector-18:before { content: '\e828'; } /* '' */
.listygo-rt-icon-vector-20:before { content: '\e829'; } /* '' */
.listygo-rt-icon-vector-21:before { content: '\e82a'; } /* '' */
.listygo-rt-icon-r-cat8:before { content: '\e82b'; } /* '' */
.listygo-rt-icon-r-cat9:before { content: '\e82c'; } /* '' */
.listygo-rt-icon-r-cat10:before { content: '\e82d'; } /* '' */
.listygo-rt-icon-r-cat11:before { content: '\e82e'; } /* '' */
.listygo-rt-icon-r-cat12:before { content: '\e82f'; } /* '' */
.listygo-rt-icon-d-heart:before { content: '\e830'; } /* '' */
.listygo-rt-icon-d-heart1:before { content: '\e831'; } /* '' */
.listygo-rt-icon-d-teeth:before { content: '\e832'; } /* '' */
.listygo-rt-icon-d-teeth1:before { content: '\e833'; } /* '' */
.listygo-rt-icon-d-user1:before { content: '\e834'; } /* '' */
.listygo-rt-icon-d-user2:before { content: '\e835'; } /* '' */
.listygo-rt-icon-d-user3:before { content: '\e836'; } /* '' */
.listygo-rt-icon-right-circled2:before { content: '\f18e'; } /* '' */
